html, body {
    background: #5C258D;
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);
    background: linear-gradient(to right, #4389A2, #5C258D);
    background-image: url(https://images.unsplash.com/photo-1621972803249-f8edd11f7908?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80);
    background-position: center;
    height: 100%;
    min-width: 500px;
  }
  
  #citation {
    font-size: 2em;
    font-family: 'Satisfy', curve;
    line-height: 1.3em;
    letter-spacing: 1px;
  }
  
  #citation:before {
      content: open-quote;
  }
  
  #citation:after {
      content: close-quote;
  }
  
  #auteur {
    font-size: 1.5em;
    font-style: italic;
  }
  
  #nouveau {
    background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);
    cursor: pointer;
  }


@media screen ,(max-width: 375px) {
    body {
        display: flex;
    }
    .container {
        justify-content: center;
        align-items: center;
    }
}